
body{
  color: black;
}
button{
  background-color: transparent;
  color: rgba(255,255,255,0.8);
  border: 5px solid black;
  border-radius: 100%;
  display: inline-block;
  width: 300px;
  cursor: pointer;
}
button:hover{
  width: 320px;
}
button svg{
  width: auto;
  margin: 5%;
}
main{
  padding-top: 150px;
  max-width: 340px;
  margin: 0 auto;
  text-align: center;
}
@media (prefers-reduced-motion: no-preference) {
  
}